/*Header*/
header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.logo {
  width: 375px;
  display: flex;
  align-items: center;
  color: MediumAquamarine;
}

.logo img {
  margin-right: 20px;
}

.menu {
  margin-right: 30px;
}

li {
  display: inline-block;
  margin: 0 10px;
}

nav a:link {
  color: black;
}

/*Main Container*/

main {
  position: relative;
  top: 100px;
  display: flex;
  z-index: 1;
  font-family: Georgia;
  justify-content: center;

}

.column {
  margin-right: 35px;
}

.column.large {
  display: inline-flex;
  flex-direction: column;
  width: 630px;
}

.column.medium {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
}

.column.small {
  display: inline-flex;
  flex-direction: column;
  width: 240px;
}


h1 {
  font-weight: bold;
  font-size: 40px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 30px;
}

.text-content {
  font-size: 17px;
  color: black;
}
.supportive-stories {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.story {
  display: inline-block;
  width: 300px;
}

.concert {
  background-image: url("../images/img-story-main.png");
}

.earth {
  background-image: url("../images/img-story-2.png");
}

.camera {
  background-image: url("../images/img-story-3.png");
}

.cat {
  background-image: url("../images/img-story-1.png");
}
.image-content {
  display: flex;
  height: 300px;
  color: white;
  align-items: center;
  text-align: center;
}

h3 {
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.bite {
  display: block;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  padding: 10px 20px;
}

/*Footer*/
footer {
  position: relative;
  top: 200px;
  margin-top: 100px;
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}
nav {
  display: inline-block;
}


.info {
  display: inline;
  margin-bottom: 10px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: 2px solid white;
  padding: 2px 25px 2px 0;
}
